.form-control {
    &[type="search"] {
        &::-webkit-search-cancel-button {
        cursor: pointer; 
        }
  }
}

body {
  overflow-x: hidden;
}

#root{
  overflow: hidden;
}

.contentItems{
  margin-top: 132px;
}

