.form-control {
    &[type="search"] {
        &::-webkit-search-cancel-button {
        cursor: pointer; 
        }
  }
}

body {
  overflow-x: hidden;
}

#root{
  overflow: hidden;
}

.contentItems{
  margin-top: 132px;
}

@media only screen and (max-width: 768px) {
  .contentItems{
    margin-top: 113px;
  }
}

.swal2-height-auto {
  padding: 0!important;
}

.swal2-container {
  z-index: 99999999;
}