.containerLogin{
    background-color: var(--text-color-2);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 600px;
}

.loginPage{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.containerLogin p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containerLogin span{
    font-size: 12px;
}

.containerLogin a{
    color: var(--text-color);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containerLogin button{
    background-color: var(--main-color);
    color: var(--text-color-2);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.containerLogin button.hidden{
    background-color: transparent;
    border-color: var(--text-color-2);
}

.containerLogin form{
    background-color: var(--text-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.containerLogin input{
    background-color: var(--secondary-color);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.containerLogin.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.icon{
    transition: all .3s ease-in-out;
}

.icon:hover{
    background-color: var(--main-color);
    color:var(--text-color-2);
}

.containerLogin.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid var(--secondary-color);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 33;
}

.containerLogin.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: var(--text-color);
    height: 100%;
    background: linear-gradient(to right, var(--main-color), var(--main-color-dark));
    color: var(--text-color-2);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containerLogin.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.containerLogin.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.containerLogin.active .toggle-right{
    transform: translateX(200%);
}

.toggle .hidden:hover, .signButton:hover{
    opacity: 0.95;
}


@media only screen and (max-width: 685px) {
    .containerLogin{
        height: 650px;
    }
    .loginPage{
        padding: 5px;
        margin: 10px 0;
    }
}

@media only screen and (min-width: 1115px) {
    .createAcc{
        width: 400px;
        text-align: center;
    }
}

@media only screen and (max-width: 763px) {
    .createAcc{
        font-size: 28px;
    }
}

@media only screen and (max-width: 626px) {
    .createAcc{
        font-size: 25px;
    }
}

@media only screen and (max-width: 579px) {
    .createAcc{
        width: 250px;
        text-align: center;
        font-size: 22px;
    }
}

@media only screen and (max-width: 463px) {
    .createAcc{
        width: 150px;
        margin-left: 10px;
    }
}

.errors{
    font-size: 10px;
    width: 100%;
    color: red;
    margin-left: 1rem;
}

.buttonDisable{
    cursor: default!important;
    opacity: 60%;
}

.buttonDisable:hover{
    cursor: not-allowed!important;
    opacity: 60%;
    background-color: var(--main-color)!important;
}

.buttonSubmitting{
    cursor: progress!important;
    opacity: 60%;
    background-color: var(--main-color)!important;
}

.buttonSubmitting:hover{
    cursor: not-allowed!important;
    opacity: 60%;
    background-color: var(--main-color-hover)!important;
}

.signButton{
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swal2-timer-progress-bar{
    background: rgba(0, 0, 0, 0.5)!important;
    padding: 3px!important;
}

.switchButtons:hover{
    transition: .3s all;
    font-weight: 700;
}

.switchButtons:hover{
    background-color: var(--text-color-2)!important;
    color: var(--text-color);
}
