.dashContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dash-info{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 20px;
    width: 75%;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    transition: transform 0.3s ease-in-out; 
}

@media only screen and (max-width: 1400px) {
    .dash-info{
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .info-text{
        font-size: 10px!important;
    }
    .layer-left{
        height: 278px!important;
    }
    .layer-right{
        height: 278px!important;
    }
    .payment-text-header{
        font-size: 26px!important; 
    }
    .payment-text-info{
        font-size: 12px!important; 
    }
}

@media only screen and (max-width: 991px) {
    .dashboard .row{
        row-gap: 20px;
    }

    .dash-info{
        justify-content: space-around;
    }

    .account-right{
        width: 100%!important;
    }

    .dash-bottom{
        row-gap: 0!important;
    }

    .payment-text-header{
        font-size: 24px!important; 
    }
    
    .payment-text-info{
        font-size: 10px!important; 
    }
}

@media only screen and (max-width: 767px) {
    .payment{
        border-radius: 0 0 10px 10px!important;
    }
    
    .layer-left{
        border-radius: 10px 10px 0 0!important;
    }

    .layer-right{
        border-radius: 0 0 10px 10px!important;
    }

    .payment-text-header{
        font-size: 28px!important; 
    }
    
    .payment-text-info{
        font-size: 12px!important; 
    }

    .dashboard{
        height: 950px;
    }
}

.dash-info:hover { 
    transform: scale(1.08); 
} 

.dash-info .fa-solid{
    font-size: 36px;
    color: var(--text-color-2);
    height: 50px;
}

.dash-info-text{
    display: flex;
    flex-direction: column;
    color: var(--text-color-2);
    justify-content: center;
}

.info-size{
    font-size: 30px; 
    letter-spacing: 3px; 
}

.info-text{
    font-size: 12px; 
    font-weight: 400; 
    letter-spacing: 1px; 
}

.col-xl-3, .col-6, .col-lg-4{
    display: flex;
    justify-content: space-around;
}

.layer-left{
    height: 258px;
    background: linear-gradient(90deg, #231885 0%, #22739e 100%);
    transition: transform 0.3s ease-in-out; 
    border-radius: 10px 0 0 10px;
    position: relative;
}

.layer-right{
    height: 258px;
    background: linear-gradient(90deg, #22739e 0%, #231885 100%);
    transition: transform 0.3s ease-in-out; 
    border-radius: 0 10px 10px 0;
}

.layer-right:hover, .layer-left:hover{ 
    transform: scale(1.01); 
} 

.col-md-6{
    padding: 0!important;
}

.payment{
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.dash-payments-text{
    color: var(--text-color-2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    height: 100%;
    justify-content: space-around;
}

.payment-text-header{
    font-size: 30px; 
    letter-spacing: 3px; 
}

.payment-text-info{
    font-size: 12px; 
    font-weight: 400; 
    letter-spacing: 1px; 
}

.secureShopping{
    width: 100px;
    position: absolute;
    top: 13px;
    right: 20px;
}

@media only screen and (max-width: 478px) {
    .secureShopping {
        display: none;
    }
}

@media only screen and (min-width: 479px) and (max-width: 767px) {
    .secureShopping {
        display: inline;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1400px) {
    .secureShopping {
        display: none;
    }
}

@media only screen and (min-width: 1401px) {
    .secureShopping {
        display: inline;
    }
}